@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  height: 100%;
  font-family: Montserrat, sans-serif;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  max-width: 100vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .header {
  background-color: black;
  margin-bottom: 20px;
  padding: 0.625rem;
}
.wrapper .header .header__content {
  max-width: 80vh;
  margin: auto;
}
.wrapper .header .header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .header .header__item p {
  font-size: 1.5rem;
  margin: 0.625rem;
}
.wrapper .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper .main .main__form {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.1rem;
}
.wrapper .main .main__form .main-form__error {
  color: red;
  font-size: 0.9rem;
}
.wrapper .main .main__form .form__item {
  margin-bottom: 0.625rem;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .main .main__form .form__item:last-child {
  margin-bottom: 0;
}
.wrapper .main .main__form .form__item h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.wrapper .main .main__form .put {
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
}
.wrapper .main .main__form .form__button {
  padding: 5px;
  margin: auto;
  width: 6rem;
  background: black;
  color: white;
}

.footer {
  background-color: black;
  color: yellow;
  padding: 0.625rem;
}

a {
  text-decoration: none;
  color: white;
}